<configuration>
    <packageSource>
    <add key="nuget.org" value= "https://api.nuget.org/v3/index.json"  protocolVersion="3" />
	<add key="offline" value= "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="MyNugets" value="g:\MyNugets" />    
    </packageSource>
</configuration>